<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="emlakEntities" connectionString="metadata=res://*/emlakModel.csdl|res://*/emlakModel.ssdl|res://*/emlakModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=ROOT;database=emlak&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>